/* Write your CSS here */
.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.each-detail {
  width: 30%;
}
.delete-button {
  background-color: transparent;
  border-style: none;
}
.delete-image {
  width: 25px;
  height: 25px;
}
.delete-container {
  width: 10%;
}
.details-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
}
.border {
  width: 30%;
}
