/* Write your CSS here */
.listContainer{
  height: 30%;
  width: 40%;
  margin: 10px;
  margin-bottom:0px ;
  margin-right:15px ;
}

.imgSize{
    height: 50%;
    width: 100%;
}
h1{
   font-size: 12px;
}
p{
       font-size: 8px;
}